<div class = " article-alone--commentaire_alone-container">
 <div class="rticle-alone--commentaire_alone-header" >
  <h6    style = "display: flex; flex-direction: row; "  >{{ username }}</h2> 
  <p class="col-6 articles--article-short-date" style = "display: flex;
    flex-direction: row;">{{ render_date(createdAt) }}</p>
 </div>
 <p class="article-alone--commentaire_alone-content">{{ content }}</p>
</div>